<head>
    <title>
        <% if (locals.title) { %>
            <%= title %>
        <% } else { %>
            Symmetrical Fiesta
        <% } %>
    </title>
    
    <meta charset="utf-8" />
    <link href="css/styles.css" rel="stylesheet" />
</head>