<!DOCTYPE html>
<html>
    <%- include('layout/head.ejs', {title: 'Connexion'}) %>

    <body>
        <% if (locals.error) { %>
            <span class="error-alert"><%= error %></span>
        <% } %>

        <form method="post" action="/api/auth/register">
            <label for="email">E-Mail:</label><br>
            <input type="email" id="email" name="email" placeholder="luc-marcheciel@resist.com"><br>
            <label for="name">Username:</label><br>
            <input type="name" id="name" name="name" placeholder="John"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>

            <div class="form-submit-area">
                <input type="submit" value="Inscription">
                <a href="/login"><button type="button">J'ai déjà un compte</button></a>
            </div>
        </form> 

        <%- include('layout/footer.ejs') %>
    </body>
</html>